.logo {
  line-height: 0.4rem;
  font-size: 0.4rem;

  @media(max-width: 764px) {
    line-height: 0.26rem;
    font-size: 0.26rem;
    padding-top: 0.26rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--color-text);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

