.article {
  margin-bottom: 4rem;
  container-type: inline-size;

  @media(max-width: 764px) {
    margin-bottom: 2rem;
  }
}

.headerLink {
  text-decoration: none;
  color: var(--color-text);
}

.createdAt {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.readMore {
  margin-top: -0.5rem;
}

.readMoreLink {
  text-decoration: none;
  font-weight: 500;
}

.cover {
  width: 100%;
  height: 36cqw;
  position: relative;
  margin-bottom: 2rem;
}
