.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: var(--max-width);
  max-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}
