.container {
  container-type: inline-size;
  margin-bottom: 3rem;

  @media (max-width: 764px) {
    margin-bottom: 1rem;
  }
}

.cover {
  width: 100%;
  height: 46cqw;
  position: relative;
  margin-bottom: 2rem;
}
